@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #222;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.content {
  background: #222;
  padding: 2rem;
  max-height: 100vh;
  width: 100%;
}

.content2 {
  background: white;
  border-radius: 20px;
  padding: 2rem;
  color: black;
  height: 100%;
  overflow-y: auto;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* =====================
   TABLET (≥ 768px)
   ===================== */
@media (min-width: 768px) {
  #app {
    /*padding: 1.5rem;QUITADO PARA QUE NO HAYA TANTO MARGEN*/
  }
}

/* =====================
   DESKTOP (≥ 1024px)
   ===================== */
@media (min-width: 1024px) {
  #app {
    /*padding: 2rem; QUITADO PARA QUE NO HAYA TANTO MARGEN*/
  }

  body {
    display: grid;
    place-items: center;
  }
}

